$primary-dark-color: rgb(13, 77, 77);
$secondary-light-color: rgb(102, 153, 153);
$third-color: rgb(64, 127, 127);

$primary-dark-text-color: rgb(0, 51, 51);
$secondary-light-text-color: #ffffff;
$third-text-color: rgb(64, 127, 127);

$fontone: 'Lato', sans-serif;
$fonttwo: 'Montserrat', sans-serif;
$fontthree:'Homenaje', sans-serif;
$fontfour: 'Quantico', sans-serif;

$section-padding: 100px;

$small: 480px;
$large: 880px;

#memberPage {
  font-family: $fontfour;
  margin: 0px;
}


//BASIC DIRECTIONS START

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
//BASIC DIRECTIONS END


//STYLING THE TOP SECTION BOXES
.small {
    width: 30%;
    text-align: center;
    padding: 2vw 2vw 0 2vw;
    color: $secondary-light-color;
    font-size: 1em;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .small {
        width: 100%;
        padding: 0.5vw;
    }
  }

.big {
    width: 100%;
    padding: 2vw 2vw 0 2vw;
}

@media screen and (max-width: 1024px) {
    .big {
        text-align: center;
    }
  }

#column1 {
    width: 99vw;
    margin: 0 auto;
    //background-color: aqua;
}

#column2 {
    justify-content: center;
    align-items: center;
    //background-color: aquamarine;
    width: 100%;
}

#row1 {
    //background-color: gray;
    width: 100%;
}

#row2 {
    //background-color: lightgray;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #row2 {
        flex-wrap: wrap;
    }
  }

#row3 {
    //background-color: dimgray;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #row3 {
        flex-wrap: wrap;
    }
  }

#row4 {
    //background-color: lightgray;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #row4 {
        flex-wrap: wrap;
    }
  }

#screen {
    //background-color: darkslategray;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}
//END OF TOP SECTION BOXES



//STYLING TOP SECTION CONTENT
#question {
    font-family: $fontone;
    font-variant: small-caps;
}

@media screen and (max-width: 1024px) {
    #question {
        margin: 0;
        padding: 0;
    }
  }

  #answer {
    font-style: italic;
    color: $primary-dark-text-color;
    font-size: 1em;
    font-weight: bold;
  }
//END TOP SECTION CONTENT




//FLIPCARD STYLING START
.flip-card {
	background-color: transparent;
	width: 240px;
	height: 240px;
    perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
    transform-style: preserve-3d;
}
	
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
	
.flip-card-back {
	background-color: grey;
	color: white;
	transform: rotateY(180deg);
    border-radius: 50%;
}

.socmed {
    display: inline-block;
}
//FLIPCARD STYLING END


//NAVBAR STYLING START

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary-dark-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $third-text-color;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }

  #nav {
      width: 11vw;
      background-color: $third-color;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  //NAVBAR STYLING END